<mdb-carousel [animation]="'slide'">
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://scontent.fcjs2-1.fna.fbcdn.net/v/t1.6435-9/117200157_138816657581368_7326080332357768720_n.jpg?_nc_cat=106&ccb=1-3&_nc_sid=6e5ad9&_nc_ohc=hxmpIDYo65AAX-Z2emB&_nc_ht=scontent.fcjs2-1.fna&oh=326438eecba3c231fb4e9f1e6306d83e&oe=60EE871A" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://st.depositphotos.com/1428504/4929/i/600/depositphotos_49290081-stock-photo-medicinal-plants.jpg" alt="Second slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="https://scontent.fcjs2-1.fna.fbcdn.net/v/t1.6435-9/107375192_100763395046464_8107803486385228484_n.jpg?_nc_cat=100&ccb=1-3&_nc_sid=6e5ad9&_nc_ohc=-x4lWSmrCeMAX9FtM_T&_nc_ht=scontent.fcjs2-1.fna&oh=76c748162cd4b3a893add43ec10c06f5&oe=60ED226A" alt="Third slide">
  </mdb-carousel-item>
</mdb-carousel>
